<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.dialer" />
    </queries>

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleDialerMod"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.GoogleDialerMod.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:exported="true"
            android:theme="@style/Theme.GoogleDialerMod.NoActionBar">
        </activity>
    </application>

</manifest>